@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --logo-size: 60px;
  --overlay-color: #03a9f4;
  --background-color: #000;
  --font-color: #fff;
  --menu-width: 300px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  /* 后面要设不同数值，打开下层menu */
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  z-index: 2;
}

/* active部分要等全部做完之后再做 */
.showcase.active {
  /* 新加menu宽度，将showcase部分往左挤 */
  right: var(--menu-width);
  /* 重新计算showcase宽度，不一样单位可用calc()来计算 */
  width: calc(100% - var(--menu-width));
}

.showcase header {
  position: absolute;
  top: 0px;
  left: 0px;
  /* left0去掉后，travel会往内缩进，为什么 */
  /* 下面已经有padding，为什么这里还要设置top left? */
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 3;
}

.showcase header .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  /*可以写成 width: var(--logo-size)
  height: var(--logo-size) */
  background: url("./src/image/menu.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  /* 可以写成background-size: var(--logo-size)/2 */
  /* 为什么这里设置了toggle的大小，上面还要再单独设置高宽 */
  background-position: center;
  cursor: pointer;
}

.showcase header .toggle.active {
  background: url("./src/image/close.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  /* 为什么设置top和lef，不是设置right bottom */
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 4;
}

.text h2 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1em;
  /* 用em可以继承设置的字体的大小，并在后期做响应的时候，根据字体的改变而改变。 */
  text-transform: uppercase;
}

.text h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1rem;
  margin: 20px 0;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1rem;
  color: var(--background-color);
  background-color: var(--font-color);
  margin-top: 10px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  display: flex;
  bottom: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transition: 0.5s;
}

.social li a:hover {
  transform: translateY(-10px);
}

.menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: var(--menu-width);
  /* 过度约束情况发生，会自动调整右边距0为menu宽度。 */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style: none;
  position: relative;
}

.menu ul li a {
  color: var(--overlay-color);
  text-decoration: none;
  font-size: 24px;
}

@media (max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3rem;
  }

  .text h3 {
    font-size: 2rem;
  }
}
